.grid_max_outer {
  display: inline-block;
  width: calc(100% + 9.6px) !important;
  margin: 0 -4.8px;
}
.grid_max_outer img {
  max-width: 100%;
}
.grid_outer {
  width: 100%;
  display: inline-block;
}
.grid_outer .project_title {
  display: flex;
  align-items: center;
  margin-top: 9.6px;
}
.grid_outer .project_title img {
  width: 21.04px;
  height: 21.04px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8.42px;
}
.grid_outer .project_title div:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10.5207px;
  line-height: 13px;
  color: #313131;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid_outer .project_title div:last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10.5207px;
  line-height: 159.52%;
  color: #818181;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 26px;
}

.grid_outer > div {
  width: 50%;
  float: left;
  padding: 4.8px;
}
.grid_outer .three_outer {
  margin-top: -78px;
}
.grid_outer .project_img {
  border-radius: 4.11184px;
  width: 100%;
  object-fit: cover;
}
.grid_outer .one_outer .project_img {
  height: 111.2px;
}
.grid_outer .two_outer .project_img {
  height: 189.14px;
}
.grid_outer .three_outer .project_img {
  height: 189.14px;
}
.grid_outer .four_outer .project_img {
  height: 111.2px;
}

.img_out {
  position: relative;
}
.project_hover {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4.11184px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.img_out:hover .project_hover {
  opacity: 1;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.project_hover .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 7px;
}
.project_hover .center {
  text-align: center;
}

@media only screen and (min-width: 1100px) {
  .grid_outer.low {
    width: 100%;
    display: inline-block;
  }
  .grid_outer {
    width: 50%;
    display: inline-block;
  }
  .grid_outer .one_outer .project_img {
    height: 203.87px;
  }
  .grid_outer .two_outer .project_img {
    height: 347.33px;
  }
  .grid_outer .three_outer .project_img {
    height: 347.33px;
  }
  .grid_outer .four_outer .project_img {
    height: 203.87px;
  }
  .grid_outer .three_outer {
    margin-top: -143px;
  }
}
