.ArchitectSelectPopupOuter {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: inherit;
  padding: 5vw;
}
.ArchitectSelectPopupClose {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100%;
}
.ArchitectSelectPopupInner {
  width: 100%;
  border-radius: 2px;
  height: fit-content;
  max-width: 480px;
  margin: auto;
  background-color: #fff;
  z-index: 4;
  position: relative;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.popupinner {
  background: #ffffff;
  border-radius: 4px;
  padding: 30px;
  position: relative;
}
.popupinner h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #454545;
}
.social {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 55px;
}
.social > a {
  display: flex;
  align-items: center;
}
.social img {
  height: 30px;
  margin-right: 8px;
}
.social span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  margin-right: 20px;
}
.url {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 6px;
}
.url input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7d7d7d;
  border: none;
  outline: none;
  width: calc(100% - 112px);
  padding: 0 12px;
}
.url a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  background: #efefef;
  border-radius: 3px;
  padding: 10px 25px;
  display: inline-block;
}
.copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7d7d7d;
  border: none;
  outline: none;
  width: 100%;
  padding-top: 12px;
  text-align: center;
}

@media only screen and (max-width: 766px) {
  .mobile {
  }
}
@media only screen and (min-width: 767px) {
  .desktop {
  }
}
