.main_outer {
  padding: 20px;
  padding-right: 60px;
  margin-top: 85px;
}

.main__inner {
  background-color: #fff;
  padding: 25px;
  min-height: calc(100vh - 125px);
}

.title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.dot {
  margin: 0px 5px;
  margin-top: -5px;
  border-radius: 50%;
}

.bidCard__container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.bid__projectCard {
  min-width: 263px;
}

.bid__projectCard__top > img {
  height: 183px;
  width: 100%;
  object-fit: cover;
}

.bid__projectCard__title {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-top: 0px;
  padding: 10px;
}

.bid__projectCard__title > h5 {
  color: #484848;
  font-weight: 500;
  font-size: 15px;
  line-height: 18.15px;
}

.bid__projectCard__title > p {
  color: #bcbcbc;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  margin-top: 4px;
}

.bid__projectCard__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #019071;
  height: 46px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #019071;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.bid__projectCard__button:hover {
  color: #ffffff;
  background-color: #019071;
}

@media only screen and (max-width: 1820px) {
  .bidCard__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1500px) {
  .bidCard__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .main_outer {
    margin-top: 70px;
    padding: 20px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .main_outer {
    margin-top: 124px;
    padding-right: 20px;
  }
  .bidCard__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .bidCard__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .main_outer {
    margin-top: 124px;
    padding: 0px;
    padding-top: 6px;
  }
}
