.archFilesMainSec {
  padding-top: 20px;
  padding-bottom: 10px;
}
.fileListOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.archFilesMainSecInner {
  border-bottom: 1px solid #efefef;
}
.archFilesMainSecInner:last-child {
  border-bottom: none;
}

.archFilesMainSecInner > p {
  font-size: 13px;
}

.viewAll {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #686868;
  padding: 3px 7px;
  background: #f3f3f3;
  border-radius: 2px;
  cursor: pointer;
}
.fileTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 148.19%;
  color: #000000;
}
.fileList {
  display: flex;
  align-items: center;
}
.fileList > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #393333;
}
.fileList img {
  padding-right: 11px;
}
.dataDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #393333;
}
.dataUnLock {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2b5797;
  padding: 6px;
  border: 1px solid #2b5797;
  border-radius: 4px;
}
.dataUnLock > img {
  padding-right: 7px;
}
.dataLock {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2b5797;
  padding: 6px;
  border: 1px solid #2b5797;
  border-radius: 4px;
  cursor: pointer;
}
.dataLock > img {
  padding-right: 7px;
}
.dataDownload {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #642dda;
  padding: 6px;
  border: 1px solid #642dda;
  border-radius: 4px;
  cursor: pointer;
}
.dataDownload > img {
  padding-right: 7px;
}

.dataNoDownload {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #642dda;
  padding: 6px;
  border: 1px solid #642dda;
  border-radius: 4px;
  cursor: not-allowed;
}
.archFilesMainSecInner__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.found {
  font-size: 14px;
  font-family: "Inter";
  font-style: normal;
}
.unlock {
  width: 24px;
  height: 15px;
}
.lock {
  width: 24px;
  height: 15px;
}
.download {
  width: 24px;
  height: 15px;
}
