.products_container_stage {
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 4px solid #f5f5f5;
  display: flex;
  align-items: center;
}

.stageContainerActive,
.stageContainerActiveTow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stageContainerActive > div,
.stageContainerActiveTow > div {
  height: 100%;
  background-color: #e0e8ff;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #0834a3;
}

.stageContainerActive > img,
.stageContainerActiveTow > img {
  height: 100%;
  object-fit: contain;
}

.stageContainerActive > div > img,
.stageContainerActiveTow > div > img {
  margin-top: 5px;
  margin-left: 10px;
}

.stageContainerActiveTow {
  margin-left: -20px;
}

.stageContainer {
  height: 100%;
  display: flex;
}

.stageContainer > div {
  height: 100%;
  background: transparent;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #0834a3;
}

.products_container_top {
  height: 52px;
  width: 100%;
  padding: 0 94px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.products_container_top > p {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
}

.project_cards_container {
  padding: 0 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-bottom: 24px;
}

.products_card {
  width: 100%;
}

.products_card_top > img {
  width: 100%;
  height: 197px;
  margin-bottom: 19px;
  object-fit: cover;
}

.products_card_content > h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.2px;
  color: #373737;
}

.products_card_content > p {
  color: #979797;
  margin-top: 7px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 7px;
  line-height: 19.88px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.offerPrice {
  color: #000000;
  font-weight: 500;
  line-height: 29.82px;
  font-size: 18px;
}

.originalPrice {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  padding: 0 10px;
  line-height: 26.51px;
}

.offerPercentage {
  color: #21af40;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.2px;
}

.selectButton {
  height: 42px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
  line-height: 23.2px;
  margin-top: 23px;
}

.selectButton:hover {
  background-color: #ffdede;
  color: #f34c4c;
  border: none;
}

@media only screen and (max-width: 860px) {
  .products_container_top {
    padding: 0 50px;
  }
  .project_cards_container {
    padding: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .products_container_top {
    padding: 0 30px;
  }
  .project_cards_container {
    padding: 0 30px;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .products_container_stage {
    height: 53px;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
  }
  .stageContainerActive,
  .stageContainerActiveTow {
    height: 65%;
    width: 34%;
  }
  .stageContainer {
    width: 33%;
  }
  .stageContainerActive > img,
  .stageContainerActiveTow > img {
    display: none;
  }
  .stageContainer > img {
    display: none;
  }
  .stageContainerActive > div,
  .stageContainerActiveTow > div {
    background-color: transparent;
    width: 100%;
  }
  .stageContainerActive > div > img,
  .stageContainerActiveTow > div > img {
    display: none;
  }
  .stageContainer > div {
    background: transparent;
    width: 100%;
    color: #929292;
  }
  .products_container_top {
    padding: 0 20px;
  }
  .project_cards_container {
    padding: 0 20px;
    gap: 33px;
    padding-bottom: 41px;
  }
  .products_card_top {
    display: flex;
  }
  .products_card_top > img {
    width: 97px;
    height: 111px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .products_card_content > h4 {
    line-height: 25.02px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .products_card_content > p {
    margin-top: 4px;
    margin-bottom: 9px;
  }
  .offerPrice {
    font-size: 16px;
  }
  .originalPrice {
    font-size: 14px;
  }
  .offerPercentage {
    font-size: 12px;
  }
  .selectButton {
    margin-top: 31px;
  }
}
