.projectContainer_outer {
  height: 100%;
  width: 100%;
  padding: 45px 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer_inner {
  height: 100%;
  width: 100%;
  max-width: 1030px;
}

.projectCard {
  width: 100%;
  height: 216px;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 10px;
}

.left_projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.left_projectCard > img {
  height: 100%;
  min-width: 276px;
  max-width: 276px;
  object-fit: cover;
}

.right_projectCard {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.right_projectCard > p {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.right_projectCard > p > span {
  color: #1a68c3;
  border-left: 1px solid #d9d9d9;
  height: 13px;
  padding-left: 11px;
  margin-left: 11px;
}

.title_projectCard {
  color: #252525;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.title_projectCard > p {
  border-left: 1px solid #d9d9d9;
  padding-left: 11px;
  margin-left: 11px;
  font-weight: 600;
  font-size: 16px;
  color: #252525;
}

.title_projectCard > p span {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
}

.location_projectCard {
  margin-top: 4px;
  display: flex;
  align-items: center;
  color: #c0c0c0;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
}

.location_projectCard > img {
  height: 15px;
  object-fit: contain;
  margin-right: 11.23px;
}

.architect_projectCard {
  padding-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.architect_projectCard > p {
  color: #505050;
  font-size: 15px;
  margin: 0 20px;
  font-weight: 400;
}

.showMore_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0834a3;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
  padding: 0 13px;
  color: #d4e0ff;
  min-height: 35px;
  cursor: pointer;
}

.showMore_button_white {
  position: absolute;
  margin-top: 0px;
  background-color: #ffffff;
  color: #0e2f82;
  padding: 5px 13px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 7px;
  cursor: pointer;
}

.showMore_button > img {
  height: 10px;
  object-fit: contain;
  margin-left: 6px;
}

.showMore_button_white > img {
  height: 10px;
  object-fit: contain;
  margin-left: 6px;
  margin-top: 3px;
}

.architect_projectCard_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.architect_projectCard_left > img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.architect_projectCard_left > p {
  color: #505050;
  font-size: 15px;
  font-weight: 400px;
  margin-left: 20px;
  margin-right: 32px;
  cursor: pointer;
}

.architect_projectCard_left > a {
  color: #b0b2ef;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  text-decoration-line: underline;
}

.showMore_button_white {
  display: none;
}

@media only screen and (max-width: 900px) {
  .left_projectCard > img {
    width: 131px;
    min-width: 131px;
    max-width: 131px;
  }
}

@media only screen and (max-width: 700px) {
  .showMore_button_white {
    display: flex;
  }
  .showMore_button {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .architect_projectCard_left > a {
    display: none;
  }
  .title_projectCard > p {
    max-height: 20px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .right_projectCard {
    padding: 18px;
  }
  .right_projectCard > p {
    font-size: 13px;
  }
  .right_projectCard > p > span {
    padding-left: 8px;
    margin-left: 8px;
  }
  .left_projectCard > img {
    width: 121px;
    min-width: 121px;
    max-width: 121px;
  }
  .title_projectCard {
    font-size: 15px;
  }
  .title_projectCard > p {
    padding-left: 8px;
    margin-left: 8px;
    font-size: 15px;
  }
  .title_projectCard > p span {
    font-size: 13px;
  }
  .projectCard {
    width: 100%;
    height: 179px;
  }
  .showMore_button_white {
    padding: 5px 8px;
  }
}
