.suggestedMain {
  margin: 40px;
  border-bottom: 1px solid #e2e2e2;
}
.suggestedTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148.19%;
  color: #000000;
}
.suggestedTitle > span {
  color: #757575;
  font-size: 12px;
}
.suggestedViewall > div {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #642dda;
}
.suggestedViewall > div > img {
  padding-left: 10px;
}
.suggProdSecMain {
  padding-top: 20px;
  padding-bottom: 20px;
}
.suggProdSec {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #5f5f5f;
}
.suggProdSec > span {
  padding-right: 5px;
}
.suggProdSec > div {
  padding-right: 10px;
  padding-left: 10px;
}
.suggestedProListMain {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.suggestedProListMain::-webkit-scrollbar {
  display: none;
}
.suggProList {
  border: 0.87317px solid #e4e4e4;
  min-width: 280px;
  margin-right: 10px;
  width: min-content;
}
/* .suggProList > img {
  width: 50%;
  height: 50%;
} */
/* .suggProList > img {
  width: fit-content;
} */
.suggProDetailes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.prodName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #642dda;
}
.prodDate {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12.2244px;
  line-height: 148.19%;
  color: #878787;
}
.prodRate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12.2244px;
  line-height: 15px;
  color: #ffffff;
  padding: 6.99px 16.56px;
  background: #642dda;
  border-radius: 19.2097px;
}
