.main_outer {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.main_inner {
}

.no_bid {
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 30vh;
}
.no_bid .main {
  height: 114px;
}
.no_bid .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  margin-top: 31.28px;
}
.no_bid .button {
  background: #642dda;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
  padding: 12px 32px;
  width: auto;
}
.button_flex {
  display: flex;
  align-items: center;
}
.no_bid .button img {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  object-fit: cover;
}
.no_bid .button span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.table_out,
.table_out th,
.table_out td {
  border: none;
}
.table_out td:first-child {
  min-width: 190px;
}
.table_out {
}
.table_out img {
  max-width: 100%;
  height: 150px;
}
.table_out a {
  padding: 5px 0;
  display: inline-block;
}
.table_out a:not(:last-child) {
  padding-right: 10px;
}
.loading {
  min-height: calc(100vh - 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading img {
  width: 40px;
}

.titleHead {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.title {
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .bid_outer {
    display: inline-block;
    width: calc(100% - 37px) !important;
    margin: 18.5px;
    float: left;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 25px;
  }
}

@media only screen and (max-width: 766px) {
  .mobile {
  }
  .bid_max_outer {
  }
  .bid_outer {
    padding: 14.5px 0px;
  }
  .image {
    width: 100%;
    margin-bottom: 25px;
  }
  .image img {
    width: 100%;
    height: 192px;
    object-fit: cover;
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .time .left {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #642dda;
    background: #f4eeff;
    border-radius: 5px;
    padding: 4px 7px;
  }
  .time .right {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #898989;
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 14px;
  }
  .name .left {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
  }
  .name .right {
    margin-right: 16.92px;
  }

  .result {
  }
  .result .line {
    background-color: #e8e8e8;
    height: 1px;
    width: 100%;
    margin: 7px 0;
  }
  .result .bid {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    background: #642dda;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  .bid_outer {
    display: inline-block;
    width: calc(50% - 37px);
    margin: 18.5px;
    float: left;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 25px;
  }

  .bid_title {
    padding-bottom: 8px;
    font-size: 14px;
  }
  .bid_sub_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .type {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }

  .details {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details > div {
    font-size: 10px;
  }
  .details > div > div:first-child {
    margin-bottom: 5px;
  }
  .details > div span {
    display: inline-block;
    margin-right: 8px;
  }
  .more_btn {
    background: #642dda;
    border-radius: 4px;
    display: inline-block;
    padding: 9px 22px;
    width: auto;
    color: #fff;
    font-size: 10px;
    min-width: 95px;
  }
}
@media only screen and (min-width: 767px) {
  .bid_max_outer {
    display: inline-block;
    width: calc(100% + 37px);
    margin: 0 -18.5px;
    margin-top: 20px;
  }
  .bid_outer {
    display: inline-block;
    width: calc(50% - 37px);
    margin: 18.5px;
    float: left;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 25px;
  }

  .bid_title {
    padding-bottom: 8px;
    font-size: 14px;
  }
  .bid_sub_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .type {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }

  .details {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details > div {
    font-size: 10px;
  }
  .details > div > div:first-child {
    margin-bottom: 5px;
  }
  .details > div span {
    display: inline-block;
    margin-right: 8px;
  }
  .more_btn {
    background: #642dda;
    border-radius: 4px;
    display: inline-block;
    padding: 9px 22px;
    width: auto;
    color: #fff;
    font-size: 10px;
    min-width: 95px;
  }

  .image {
  }
  .image img {
    height: 192px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #dedede;
  }
  .time .left {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #642dda;
    background: #f4eeff;
    border-radius: 5px;
    padding: 4px 7px;
  }
  .time .right {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #9e9e9e;
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
  }
  .name .left {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
  }
  .name .right {
    margin-right: 23.92px;
  }

  .result {
    background: #642dda;
    border-radius: 0px 0px 4px 4px;
  }
  .result .line {
  }
  .result .bid {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    padding: 13px;
  }
}

@media only screen and (min-width: 1100px) {
  .bid_outer {
    width: calc(25% - 37px);
  }
  .desktop {
  }
}
@media only screen and (min-width: 1500px) {
  .bid_outer {
    width: calc(20% - 37px);
  }
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 475px) {
  .table_out td:first-child {
    min-width: 140px;
  }
  .table_out td {
    font-size: 12px;
  }
}

/* bid single view */

.bid_single_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.backButton {
  height: 15px;
  margin: 30px 0 15px;
  display: flex;
  align-items: center;
  color: #575757;
  cursor: pointer;
}

.backButton > img {
  height: 100%;
  object-fit: contain;
  margin-right: 8px;
}

.bid_single_top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bid_single_top__left > h4 {
  font-size: 12px;
  font-weight: 100;
  margin-top: 8px;
  margin-bottom: 0px;
  color: #575757;
}
.bid_single_top__left > h4 .space {
  padding: 0 15px;
  display: inline-block;
}

.bid_single_top__left > h3 {
  color: #303030;
}

.bid_single_ViewMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #642dda;
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.bid_single_bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.bid_single_bottom img {
  height: 160px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 50px;
}

.bid_single_bottom_right {
  /* margin-left: 50px; */
}

.bid_single_bottom_right > p {
  margin: 20px 0;
  color: #575757;
  font-size: 14px;
}

.bid_single_bottom_right > p > span {
  color: #303030;
  font-size: 16px;
}
.full_details {
  margin-top: 15px;
  width: 100%;
}
.full_details img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .bid_single_container {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    margin-top: 30px;
  }
  .bid_single_top__left > h4 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .bid_single_top__left > h4 > span {
    margin-left: 5px;
    font-size: 16px;
  }
  .bid_single_bottom {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bid_single_bottom > img {
    width: 100%;
    border-radius: 8px;
  }
  .bid_single_bottom_right {
    margin-left: 0px;
    margin-top: 20px;
  }
  .backButton {
    height: 15px;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #575757;
  }
}
