.main_outer {
  padding: 20px;
  margin-right: 60px;
  margin-top: 91px;
  background-color: #fff;
  margin-left: 6px;
  min-height: calc(100vh - 91px);
  margin-bottom: 6px;
}
.main_inner {
  background-color: #fff;
  width: 100%;
}
.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 18.94px;
  padding-bottom: 10px;
  color: #000000;
}
.h_type {
  font-size: 13px;
  font-weight: 500;
  line-height: 18.94px;
  padding-bottom: 10px;
  color: #000000;
}
.n_thumbnail {
  display: flex;
  align-items: center;
}
.n_thumbnail a {
  display: inline-block;
  float: left;
}
.n_thumbnail img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
.n_right {
  display: inline-block;
  margin-left: 15px;
}
.table_out.spl td {
  padding: 10px 0;
}

.left_symbel {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.left_symbel::before {
  content: ": ";
  margin-left: -20px;
  position: absolute;
}
.left_symbel span {
  display: inline-block;
  width: 100%;
}

.n_one .btns > div {
}

.resultSectionDetails {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}
.table_out,
.table_out th,
.table_out td {
  border: none;
}
.table_payment,
.table_payment th,
.table_payment td {
  border: none;
}
.table_payment td:first-child {
  min-width: 80px;
}
.table_payment tr {
}
.table_out td:first-child {
  min-width: 190px;
}
.table_out {
}
.table_out img {
  max-width: 100%;
  height: 150px;
}
.table_out a {
  padding: 5px 0;
  display: inline-block;
}
.table_out a:not(:last-child) {
  padding-right: 10px;
}
.loading {
  min-height: calc(100vh - 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading img {
  width: 40px;
}
/* .resultSectionDetails > div {
  flex: 1 1;
}
.resultSectionDetails > div::before {
  content: ": ";
} */
.titleHead {
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 10px;
  text-decoration: underline;
}

/* .results__container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
} */

.main_inner p {
  color: #303030;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}
.main_inner .rsl::before {
  content: ": ";
}
.resultSectionDetails > a {
  color: blue;
}
.resultSectionDetails > img {
  width: 15px;
  height: 15px;
}
.resultTextContainer {
  height: 44px;
  width: 337px;
  border: 0.5px solid #86d3c3;
  background-color: #f5fffe;
  color: #019071;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 13px;
  border-radius: 6px;
}

.resultTextContainerList {
  width: 337px;
  border: 0.5px solid #86d3c3;
  background-color: #f5fffe;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 13px;
  border-radius: 6px;
}

.resultTextContainerList > ul > li {
  list-style: none;
  color: #019071;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  margin-top: 5px;
}

.resultSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttons__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.decline_button {
  height: 40px;
  width: 124px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background-color: #f8f8f8;
  color: #019071;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.accept_button {
  height: 40px;
  width: 124px;
  border-radius: 4px;
  background-color: #019071;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
  cursor: pointer;
}

.n_one .btns div {
  padding: 5px 15px;
  color: #019071;
  font-size: 16px;
  font-weight: 500;
  line-height: 16.94px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.n_one .btns div:not(:last-child) {
  margin-right: 15px;
}

.n_one .btns {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.n_one .btns div.active {
  font-weight: 600;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.table_out td input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  /* color: #a7a7a7; */
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 90%;
  padding: 7px 10px;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.table_out input[type="number"]::-webkit-inner-spin-button,
.table_out input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Shijin */
.btn {
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 15px;
  color: #fff;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

#disableBtn {
  background-color: #b9bbbd;
}
.btn:hover {
  background-color: #1e1e1e;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.btn img {
  margin-right: 7px;
  width: 9px;
}

.paymentDetails {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.payments {
  /* height: 300px; */
  padding: 20px;
  /* border: 1px solid #000000; */
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.products_max_outer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.search_outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.search_c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100% - 250px);
}
.search_c input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a7a7a7;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 100%;
  padding: 7px 20px;
  margin-right: 15px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.search_c input:hover,
.search_c input:focus,
.search_c input:active {
  color: #019071;
  border: 1px solid #019071;
  outline: none;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

.search_c button {
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 15px;
  color: #fff;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.search_c button:hover {
  background-color: #1e1e1e;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

.suggest_btn {
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 20px;
  padding: 15px 30px;
  color: #fff;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.suggest_btn:hover {
  background-color: #1e1e1e;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

.products_outer {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.products_outer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.products_outer .top .right > div {
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 15px;
  color: #fff;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.products_outer .top .right > div:hover {
  background-color: #1e1e1e;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.product_name {
  font-size: 20px;
}
.product_sku {
}
.product_category {
  font-size: 13px;
  padding-top: 3px;
  color: #1e1e1e91;
}
.product_categoryMain {
}
.product_subcategory {
}
.product_mrp {
}
.product_code {
}
.product_desc {
  font-size: 14px;
  padding: 15px 0;
}
.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding-bottom: 8px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #019071;
}
.dim {
  color: #1e1e1e91;
}
.dark {
}
.product_adnl_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.product_adnl_stock_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.product_discount {
}
.product_tag {
}
.product_stock {
}
.product_weight {
}
.product_volume {
}

.search_all_outer {
  background-color: #ececec;
  padding: 20px;
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom: 15px;
}
.selected_outer {
  margin-top: 15px;
}
.selected_outer .selected_products_max_outer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  gap: 10px;
}
.suggest_all_outer {
}
.error {
  padding-top: 10px;
  color: #ff2d2d !important;
}
.suggest_outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.suggest_outer input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #a7a7a7;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 100%;
  padding: 10px 15px;
  margin-right: 15px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.suggest_outer input:hover,
.suggest_outer input:focus,
.suggest_outer input:active {
  color: #019071;
  border: 1px solid #019071;
  outline: none;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.suggest_outer select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #a7a7a7;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 100%;
  padding: 10px 15px;
  margin-right: 15px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.suggest_outer select:hover,
.suggest_outer select:focus,
.suggest_outer select:active {
  color: #019071;
  border: 1px solid #019071;
  outline: none;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

/* END shijing */

@media only screen and (max-width: 1820px) {
  .results__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .resultTextContainer {
    width: 24vw;
  }
  .resultTextContainerList {
    width: 24vw;
  }
}

@media only screen and (max-width: 1400px) {
  .results__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .resultTextContainer {
    width: 35vw;
  }
  .resultTextContainerList {
    width: 35vw;
  }
}

@media only screen and (max-width: 1200px) {
  .main_outer {
    margin-top: 88px;
    padding: 20px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .main_outer {
    margin-top: 75px;
    padding-right: 20px;
    margin-right: 6px;
  }
  .resultTextContainer {
    width: 42vw;
  }
  .resultTextContainerList {
    width: 42vw;
  }
}

@media only screen and (max-width: 800px) {
  .results__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .resultTextContainer {
    width: 82vw;
  }
  .resultTextContainerList {
    width: 82vw;
  }
}

@media only screen and (max-width: 576px) {
  .resultTextContainer {
    width: 99%;
  }
  .resultTextContainerList {
    width: 99%;
  }
}

@media only screen and (max-width: 475px) {
  .table_out td:first-child {
    min-width: 140px;
  }
  .table_out td {
    font-size: 12px;
  }

  .buttons__container {
    padding-bottom: 20px;
  }
}
