.paginationSection {
  background-color: #fff;
}
.pageination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pageNum {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 148.19%;
  color: #555555;
  padding: 5px;
}
.pageNum > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 148.19%;
  color: #979797;
}
