.main_outer {
  padding: 20px;
  padding-right: 60px;
  margin-top: 85px;
  min-height: calc(100vh - 90px);
}

.sone_inner {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sone_inner .left {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.sone_inner .right {
  display: flex;
  align-items: center;
}
.sone_inner .right img {
  width: 15px;
  object-fit: cover;
  margin-right: 8px;
}
.sone_inner .right span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6c6c6c;
}

.folder_max_outer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.folder_all_outer {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 9px;
  padding: 7px 15px;
  margin: 10px;
  max-width: 225px;
}

.folder_all_outer .full img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.folder_outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.folder_outer .left {
  display: flex;
  align-items: center;
}
.folder_outer .left img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 8px;
}
.folder_outer .left span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6c6c6c;
}
.folder_outer .right {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.folder_outer .right .lock {
}
.folder_outer .right .lock img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.folder_outer .right .progress {
}
.folder_outer .right .progress img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.no_files {
  text-align: center;
  width: 100%;
  padding-top: 4.5vh;
}
.no_files h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin: 10px 0 0;
}
.no_files h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #d2d2d2;
  margin: 4px 0 5.5vh;
}
.loading {
  min-height: calc(100vh - 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading img {
  width: 40px;
}
@media only screen and (max-width: 1200px) {
  .main_outer {
    margin-top: 70px;
    padding: 20px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .main_outer {
    margin-top: 67px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main_outer {
    margin-top: 67px;
    padding: 0px;
    padding-top: 6px;
  }
  .sone_outer {
    padding: 15px 15px 0;
  }
}
@media only screen and (max-width: 408px) {
  .folder_outer {
    max-width: 100%;
    width: 100%;
  }
}
