.main_outer {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.main_inner {
}

@media only screen and (max-width: 1100px) {
  .mobile_section_outer .sone_outer {
  }
}
@media only screen and (min-width: 1100px) {
  .desktop_section_outer .sone_outer {
  }
}

@media only screen and (min-width: 1400px) {
}
