.section_two {
    padding: 3px 0px 8px;
    border-bottom: 1px solid #EFEFEF;
}
.project_heading {
    display: inline-block;
    width: 100%;
}
.section_two h3 {
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #525252;
    float: left;
    padding: 2px 0;
}
.section_two .project_heading h3 {
    font-size: 17px;
    margin-bottom: 27px;
    padding: 0;
    color: #000;
}
.section_two button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #098482;
    border: none;
    float: right;
    background-color: transparent;
    margin: 15px 7px;
    padding-right: 0;
}
.project_slider img {
    width: 300px;
    height: 224px !important;
    max-height: 224px !important;
}
@media only screen and (max-width: 1000px) {
    .project_slider img {
        width: 100% !important;
        max-height: inherit;
        height: auto !important;
    }
}