@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container_outer {
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 237, 237);
  opacity: 98%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1445px;
  margin: 0 auto;
  padding: 0 10px;
}
.profile_view_outer {
  padding: 40px 0;
}
.main_left {
  float: left;
  width: 100%;
  max-width: calc(100% - 435px);
  padding-right: 115px;
}
.profile_right {
  width: 100%;
}
.profile_right img.profile_image {
  float: left;
  width: 100%;
  max-width: 133px;
  margin: 2px 22px 22px 0;
}
.profile_right h3 {
  font-family: Inter;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #5c5c5c;
  margin: 17px 0 0;
}
.profile_right h4 {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 4px 0 5px;
}
.profile_right h4 span.first {
  color: #979797;
  padding-right: 7px;
}
.profile_right h4 span.second {
  color: #979797;
  padding-left: 8px;
  font-size: 13px;
}
.profile_right h5 {
  font-family: Inter;
  font-size: 14.7px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin: 0;
}
.profile_head_right {
  position: relative;
}
.profile_head_right .share {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.profile_head_right .share div {
  display: flex;
  padding-top: 2px;
  padding-right: 20px;
  align-items: center;
}
.profile_head_right .share div:last-child {
  padding-right: 0px;
}
.profile_head_right .share div img {
  padding-right: 5px;
}
.profile_head_right .share div span {
  font-size: 13px;
}
.main_right {
  width: 100%;
  max-width: 435px;
  float: right;
}
.clear {
  clear: both;
}
.select {
  position: absolute;
  top: 56px;
  right: 0;
}
.select button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  background-color: #098482;
  border: 1px solid #098482;
  border-radius: 4.18045px;
  padding: 8px 34px;
  display: flex;
  align-items: center;
}
.select button img {
  padding-right: 7px;
  padding-left: 5px;
}
@media only screen and (max-width: 1200px) {
  .main_left {
    max-width: calc(100% - 420px);
    padding-right: 35px;
  }
  .main_right {
    max-width: 420px;
  }
}
@media only screen and (max-width: 1000px) {
  .main_left {
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .main_right {
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .profile_head_right .share {
    position: inherit;
    clear: both;
  }
  .select {
    position: inherit;
    float: right;
    margin-top: -46px;
  }
}
