.main_outer {
  min-height: 100vh;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 5vw;
  height: 100%;
  padding-bottom: 50px;
}

.title_editProjectMain {
  margin-top: 25px;
}

.title_editProjectMain > h3 {
  font-size: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}

.title_editProjectMain > h4 {
  font-size: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  margin-top: 3px;
  color: #575757;
}

.details_editProjectMain {
  margin-top: 30px;
}

.thumbnail_editProjectMain {
  width: 250px;
  height: 160px;
}

.thumbnail_editProjectMain > p {
  font-size: 14px;
  color: #575757;
}

.thumbnail_editProjectMain > img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.thumbnailInput {
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.editThumbnail_editProjectMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #575757;
  margin-top: -20px;
}

.editThumbnail_editProjectMain:hover {
  color: #303030;
}

.editIcon {
  height: 12px;
  margin-right: 5px;
}

.inputContainer_editProjectMain {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.inputBox_editProjectMain {
  width: 100%;
}

.inputBox_editProjectMain > p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.inputBox_editProjectMain > input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
  color: #393939;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 10px 20px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
  outline: none;
  cursor: text;
}

.inputBox_editProjectMain > input:hover {
  color: #019071;
  border: 1px solid #019071;
  outline: none;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

.imageConatiner_editProjectMain {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 25px;
}

.deleteIcon {
  height: 12px;
  margin-right: 5px;
}

.deleteImage_editProjectMain {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #575757;
}

.deleteImage_editProjectMain:hover {
  color: #303030;
}

.imageBox_editProjectMain,
.imageBox_editProjectMainFiles {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  width: 100px;
}

.imageBox_editProjectMain > img,
.imageBox_editProjectMainFiles > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 5px;
  border-radius: 6px;
}

.imageBox_editProjectMainFiles > img {
  margin-top: 25px;
}

.updateButtonContainer {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.updateButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
  background: #019071;
  border: 1px solid #019071;
  border-radius: 6px;
  width: 150px;
  padding: 10px;
  margin: 0px 0 10px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.updateButton:hover {
  background: #1e1e1e;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}

.addNew_image {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.addNew_image > img {
  height: 100px;
}

.addNewImage_input {
  margin-left: -100px;
  height: 100px;
  width: 100px;
  opacity: 0;
}

@media only screen and (max-width: 1615px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 1290px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 935px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 685px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 535px) {
  .imageConatiner_editProjectMain {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 414px) {
  .inputContainer_editProjectMain {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 390px) {
  .imageBox_editProjectMain,
  .imageBox_editProjectMainFiles {
    max-width: 80px;
    height: 80px;
    margin-bottom: 10px;
    width: 100px;
  }
  .addNew_image > img {
    height: 80px;
  }

  .addNewImage_input {
    margin-left: -80px;
    height: 80px;
    width: 80px;
    opacity: 0;
  }
}
