.header {
  background-color: #e2e2e2;
  height: 80px;
  padding: 0px 5vw;
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  height: 45px;
  object-fit: contain;
}

/* HeaderLogin */

.headerLogin {
  width: 100%;
  background-color: #fff;
  height: 90px;
  display: flex;
  align-items: center;
}

.headerLogin > img {
  height: 40px;
  object-fit: contain;
  margin-left: 5vw;
}

.adminLogin {
  width: 100vw;
  height: 100vh;
  background-color: #481a1a;
}

/* HeaderDashboard */
.headerDashboard {
  width: 100%;
  background-color: #fff;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerDashboard__container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
}

.navLink__container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top__bodyDashboard {
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__top__bodyDashboard {
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.navLink__container > p {
  font-size: 14px;
  color: #474747;
  margin-left: 10px;
}

.navLink__container > p:hover {
  color: #1f6a39;
  font-weight: bold;
}

.right__top__bodyDashboard {
  width: 20%;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerDashboard__container > img {
  height: 40px;
  object-fit: contain;
}

.profileContainer__Header {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profileContainer__Header > p {
  font-size: 14px;
  color: #000000;
  margin-right: 10px;
}

.profileContainer__Header > img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
