.also_viewed_outer .first {
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    padding: 10px;
    margin-top: 16px;
    min-height: 600px;
}
.also_viewed_outer .first h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
    margin: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.also_viewed_outer .first h4 img {
    margin-right: 11px;
}
.also_viewed_outer .first h4 span.round {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.3455px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #098482;
    border-radius: 50%;
    padding: 3px 5.5px;
    margin-left: 5px;
}
.also_viewed_outer .first button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #098482;
    border: none;
    float: right;
    background-color: transparent;
    margin: 5px 0;
    padding-right: 0;
}
.also_viewed_outer .first .heading {
    display: inline-block;
    width: 100%;
    padding: 9px 7px 18px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 5px;
}
.notification_button {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0;
    z-index: 100;
    border: none;
    padding: 0;
    background-color: transparent;
}
.also_viewed_outer.az_popup .first {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .also_viewed_outer .first {
        min-height: 0px;
    }
    .notification_button {
        display: block;
    }
    .also_viewed_outer .first.desktop {
        display: none;
    }
}