.main_inner {
  padding-bottom: 100%;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148.19%;
  color: #000000;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 30px;
}
.paymentColoumns {
  display: flex;
  justify-content: center;
}
.table_out,
.table_out th,
.table_out td {
  border: none;
  padding-right: 10px;
  /* text-align: end; */
}
.table_out td:first-child {
  min-width: 130px;
  padding-top: 15px;
}
.table_out {
}
.table_out td input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  /* color: #a7a7a7; */
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 90%;
  padding: 7px 20px;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.dropdownCol {
}
.dropdown {
  margin-left: 20px;
  margin-right: 14px;
}
.addAcc {
  /* margin-top: 20px; */
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 15px;
  color: #fff;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.paymentMode {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.modeInput {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}
.modeInput > input {
  margin-right: 5px;
}
.modeInput {
  background-color: #019071;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 15px;
  color: #fff;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
  margin-right: 10px;
}
