.main_inner {
  padding-bottom: 100%;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148.19%;
  color: #000000;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 10px;
}
.table_out,
.table_out th,
.table_out td {
  border: none;
  text-align: end;
}
.table_out td:first-child {
  min-width: 130px;
}
.table_out {
}
.table_out td input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  /* color: #a7a7a7; */
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 90%;
  padding: 7px 20px;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.dropdown {
  margin-top: 20px;
  margin-left: 15px;
}
